<form action="/pagina-processa-dados-do-form" method="post">
    <h1>Cadastro Docente</h1>
    <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" />
    </div><br>
    <div>
        <label for="email">E-mail:</label>
        <input type="email" id="email" />
    </div><br>
    <div>
        <label for="telefone">Telefone:</label>
        <input type="number" id="telefone" />
    </div><br>
    <div>
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" />
    </div><br>
    <div>
        <button type="submit">Criar</button>
    </div><br>

    <img src="imagens/fatec.png">
   
</form>